<div class="container">
    <div class="header">
        <a href="index.html">
            <img src="../../../assets/image/logo.svg" alt="logo" class="header-logo">
        </a>
        <ul class="header-menu">
            <li>
                <a routerLink='/works'>Работы</a>
            </li>
            <li>
                <a routerLink='/services'>Услуги</a>
            </li>
            <li>
                <a routerLink='/about'>О нас</a>
            </li>
            <li>
                <a routerLink='/reviews'>Отзывы</a>
            </li>
            <li>
                <a routerLink='/blog'>Blog</a>
            </li>
            <li>
                <a routerLink='/contact'>Контакты</a>
            </li>
        </ul>
        <button class="header-btn">
            Запросить стоимость
        </button>
    </div>
</div>